@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('RobotoSlab-Bold.eot');
  src: url('RobotoSlab-Bold.woff') format('woff'),
       url('RobotoSlab-Bold.ttf') format('truetype'),
       url('RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg'),
       url('RobotoSlab-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('RobotoSlab-Light.eot');
  src: url('RobotoSlab-Light.woff') format('woff'),
       url('RobotoSlab-Light.ttf') format('truetype'),
       url('RobotoSlab-Light.svg#RobotoSlab-Light') format('svg'),
       url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('RobotoSlab-Regular.eot');
  src: url('RobotoSlab-Regular.woff') format('woff'),
       url('RobotoSlab-Regular.ttf') format('truetype'),
       url('RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('Roboto-Black.eot');
  src: url('Roboto-Black.woff') format('woff'),
       url('Roboto-Black.ttf') format('truetype'),
       url('Roboto-Black.svg#Roboto-Black') format('svg'),
       url('Roboto-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('RobotoCondensed-Bold.eot');
  src: url('RobotoCondensed-Bold.woff') format('woff'),
       url('RobotoCondensed-Bold.ttf') format('truetype'),
       url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg'),
       url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('RobotoCondensed-Regular.eot');
  src: url('RobotoCondensed-Regular.woff') format('woff'),
       url('RobotoCondensed-Regular.ttf') format('truetype'),
       url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg'),
       url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('Roboto-Medium.eot');
  src: url('Roboto-Medium.woff') format('woff'),
       url('Roboto-Medium.ttf') format('truetype'),
       url('Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.woff') format('woff'),
       url('Roboto-Regular.ttf') format('truetype'),
       url('Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.woff') format('woff'),
       url('Roboto-Bold.ttf') format('truetype'),
       url('Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

